{{!< default}}

<div class="container">
    {{#post}}
        <article class="post-container {{post_class}}">
            <!-- <header class="post-header"> -->
                <h1 class="post-title">{{title}}</h1>

                <p class="blog-description">{{@blog.description}}</p>
            </header>

            <div class="post-content clearfix">
                {{#if image}}
                    <img class="post-featured-image" src="{{image}}">
                {{/if}}

		<!-- www.123contactform.com script begins here -->

<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2054922.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

<p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--2054922.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->


{{! No indention to prevent handlebars indenting <pre> tag content}}
{{{content}}}

                {{#if tags}}
                    <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
                {{/if}}
            </div>
        </article>
    {{/post}}
</div>
